html, body {
    margin: 0;
    padding: 0;
    font-family: Microsoft Yahei;
    background: #f2f2f2
  }
  ul li {
    list-style: none
  }
  a {
    text-decoration: none;
  }
  tr > th, tr > td {
    text-align: center !important;
  }
  .block {
    display: block
  }
  .inline-block {
    display: inline-block !important
  }
  .hide {
    display: none !important
  }
  .show {
    display: block !important
  }
  .pos-rel {
    position: relative;
  }
  .ovf-hd {
    overflow: hidden
  }
  .ovf-auto {
    overflow: auto
  }
  .ovf-y-auto {
    overflow-y: auto
  }
  .fl {
    float: left
  }
  .fr {
    float: right
  }
  .text-elps {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap
  }
  
  .m-w-900 {
    min-width: 900px !important;
  }
  .m-w-1000 {
    min-width: 1000px !important;
  }
  .m-w-1070 {
    min-width: 1070px !important;
  }
  .m-w-1280 {
    min-width: 1280px !important;
  }
  .w-30 {
    width: 30px !important;
  }
  .w-60 {
    width: 60px !important;
  }
  .w-80 {
    width: 80px !important;
  }
  .w-100 {
    width: 100px !important;
  }
  .w-115 {
    width: 115px !important;
  }
  .w-120 {
    width: 120px !important;
  }
  .w-130 {
    width: 130px !important;
  }
  .w-135 {
    width: 135px !important;
  }
  .w-143 {
    width: 143px !important;
  }
  .w-150 {
    width: 150px !important;
  }
  .w-160 {
    width: 160px !important;
  }
  .w-180 {
    width: 180px !important;
  }
  .w-190 {
    width: 190px !important;
  }
  .w-200 {
    width: 200px !important;
  }
  .w-210 {
    width: 210px !important;
  }
  .w-230 {
    width: 230px !important;
  }
  .w-240 {
    width: 240px !important;
  }
  .w-250 {
    width: 250px !important;
  }
  .w-260 {
    width: 260px !important;
  }
  .w-280 {
    width: 280px !important;
  }
  .w-295 {
    width: 295px !important;
  }
  .w-300 {
    width: 300px !important;
  }
  .w-310 {
    width: 310px !important;
  }
  .w-340 {
    width: 340px !important;
  }
  .w-350 {
    width: 350px !important;
  }
  .w-360 {
    width: 360px !important;
  }
  .w-380 {
    width: 380px !important;
  }
  .w-400 {
    width: 400px !important;
  }
  .w-450 {
    width: 450px !important;
  }
  .w-460 {
    width: 460px !important;
  }
  .w-500 {
    width: 500px !important;
  }
  .w-520 {
    width: 520px !important;
  }
  .w-560 {
    width: 560px !important;
  }
  .w-570 {
    width: 570px !important;
  }
  .w-600 {
    width: 600px !important;
  }
  .w-650 {
    width: 650px !important;
  }
  .w-660 {
    width: 660px !important;
  }
  .w-700 {
    width: 700px !important;
  }
  .w-760 {
    width: 760px !important;
  }
  .w-780 {
    width: 780px !important;
  }
  .w-800 {
    width: 800px !important;
  }
  .w-860 {
    width: 860px !important;
  }
  .w-900 {
    width: 900px !important;
  }
  .w-940 {
    width: 940px !important;
  }
  .w-950 {
    width: 950px !important;
  }
  .w-960 {
    width: 960px !important;
  }
  .w-1000 {
    width: 1000px !important;
  }
  .w-1070 {
    width: 1070px !important;
  }
  .w-10p {
    width: 10% !important;
  }
  .w-20p {
    width: 20% !important;
  }
  .w-25p {
    width: 25% !important;
  }
  .w-30p {
    width: 30% !important;
  }
  .w-33p {
    width: 33% !important;
  }
  .w-40p {
    width: 40% !important;
  }
  .w-49-5p {
    width: 49.5% !important;
  }
  .w-50p {
    width: 50% !important;
  }
  .w-70p {
    width: 70% !important;
  }
  .w-100p {
    width: 100% !important;
  }
  
  .h-1 {
    height: 1px !important
  }
  .h-28 {
    height: 28px !important;
    line-height: 28px !important;
  }
  .h-30 {
    height: 30px !important;
    line-height: 30px !important;
  }
  .h-36 {
    height: 36px !important;
    line-height: 36px !important;
  }
  .h-40 {
    height: 40px !important;
    line-height: 40px !important;
  }
  .h-42 {
    height: 42px !important
  }
  .h-50 {
    height: 50px !important;
    line-height: 50px !important;
  }
  .h-56 {
    height: 56px !important;
  }
  .h-60 {
    height: 60px !important;
    line-height: 60px !important;
  }
  .h-75 {
    height: 75px !important;
    line-height: 75px !important;
  }
  .h-80 {
    height: 80px !important;
    line-height: 80px !important;
  }
  .h-84 {
    height: 84px !important;
    line-height: 84px !important;
  }
  .h-85 {
    height: 85px !important;
    line-height: 85px !important;
  }
  .h-90 {
    height: 90px !important;
  }
  .h-100 {
    height: 100px !important;
  }
  .h-150 {
    height: 150px !important;
  }
  .h-190 {
    height: 190px !important;
  }
  .h-200 {
    height: 200px !important;
  }
  .h-215 {
    height: 215px !important;
  }
  .h-220 {
    height: 220px !important;
  }
  .h-255 {
    height: 255px !important;
  }
  .h-280 {
    height: 280px !important;
  }
  .h-290 {
    height: 290px !important;
  }
  .h-300 {
    height: 300px !important;
  }
  .h-400 {
    height: 400px !important;
  }
  .h-450 {
    height: 450px !important;
  }
  .h-480 {
    height: 480px !important;
  }
  .h-500 {
    height: 500px !important;
  }
  .h-550 {
    height: 550px !important;
  }
  .h-600 {
    height: 600px !important;
  }
  .h-100p {
    height: 100% !important;
  }
  .l-h-42 {
    line-height: 42px
  }
  .l-h-50 {
    line-height: 50px
  }
  .l-h-52 {
    line-height: 52px
  }
  .min-200 {
    min-height: 200px
  }
  .mh-270 {
    max-height: 270px
  }
  .mh-400 {
    max-height: 400px
  }
  
  .m-center {
    margin: 0 auto;
  }
  .m-t-m10 {
    margin-top: -10px !important;
  }
  .m-t-m7 {
    margin-top: -7px !important;
  }
  .m-t-0 {
    margin-top: 0px !important;
  }
  .m-t-5 {
    margin-top: 5px !important;
  }
  .m-t-10 {
    margin-top: 10px !important;
  }
  .m-t-14 {
    margin-top: 14px !important;
  }
  .m-t-15 {
    margin-top: 15px !important;
  }
  .m-t-20 {
    margin-top: 20px !important;
  }
  .m-t-30 {
    margin-top: 30px !important;
  }
  .m-t-40 {
    margin-top: 40px !important;
  }
  .m-t-50 {
    margin-top: 50px !important;
  }
  .m-t-100 {
    margin-top: 100px !important;
  }
  .m-l-5 {
    margin-left: 5px !important;
  }
  .m-l-10 {
    margin-left: 10px !important;
  }
  .m-l-20 {
    margin-left: 20px !important;
  }
  .m-l-15 {
    margin-left: 15px !important;
  }
  .m-l-30 {
    margin-left: 30px !important;
  }
  .m-l-40 {
    margin-left: 40px !important;
  }
  .m-l-50 {
    margin-left: 50px !important;
  }
  .m-l-70 {
    margin-left: 70px !important;
  }
  .m-l-130 {
    margin-left: 130px !important;
  }
  .m-l-150 {
    margin-left: 150px !important;
  }
  .m-l-160 {
    margin-left: 160px !important;
  }
  .m-l-200 {
    margin-left: 200px !important;
  }
  .m-r-5 {
    margin-right: 5px !important;
  }
  .m-r-10 {
    margin-right: 10px !important;
  }
  .m-r-15 {
    margin-right: 15px !important;
  }
  .m-r-20 {
    margin-right: 20px !important;
  }
  .m-r-30 {
    margin-right: 30px !important;
  }
  .m-r-50 {
    margin-right: 50px !important;
  }
  .m-b-0 {
    margin-bottom: 0px !important;
  }
  .m-b-5 {
    margin-bottom: 5px !important;
  }
  .m-b-10 {
    margin-bottom: 10px !important;
  }
  .m-b-15 {
    margin-bottom: 15px !important;
  }
  .m-b-20 {
    margin-bottom: 20px !important;
  }
  .m-b-30 {
    margin-bottom: 30px !important;
  }
  .m-b-40 {
    margin-bottom: 40px !important;
  }
  .m-b-50 {
    margin-bottom: 50px !important;
  }
  
  .p-t-0 {
    padding-top: 0px !important;
  }
  .p-t-3 {
    padding-top: 3px !important;
  }
  .p-t-5 {
    padding-top: 5px !important;
  }
  .p-t-6 {
    padding-top: 6px !important;
  }
  .p-t-10 {
    padding-top: 10px !important;
  }
  .p-t-15 {
    padding-top: 15px !important;
  }
  .p-t-20 {
    padding-top: 20px !important;
  }
  .p-t-30 {
    padding-top: 30px !important;
  }
  .p-t-40 {
    padding-top: 40px !important;
  }
  .p-t-50 {
    padding-top: 50px !important;
  }
  .p-l-0 {
    padding-left: 0px !important;
  }
  .p-l-5 {
    padding-left: 5px !important;
  }
  .p-l-6 {
    padding-left: 6px !important;
  }
  .p-l-10 {
    padding-left: 10px !important;
  }
  .p-l-13 {
    padding-left: 13px !important;
  }
  .p-l-15 {
    padding-left: 15px !important;
  }
  .p-l-20 {
    padding-left: 20px !important;
  }
  .p-l-30 {
    padding-left: 30px !important;
  }
  .p-l-40 {
    padding-left: 40px !important;
  }
  .p-l-50 {
    padding-left: 50px !important;
  }
  .p-l-70 {
    padding-left: 70px !important;
  }
  .p-r-0 {
    padding-right: 0px !important;
  }
  .p-r-5 {
    padding-right: 5px !important;
  }
  .p-r-6 {
    padding-right: 6px !important;
  }
  .p-r-10 {
    padding-right: 10px !important;
  }
  .p-r-15 {
    padding-right: 15px !important;
  }
  .p-r-20 {
    padding-right: 20px !important;
  }
  .p-r-30 {
    padding-right: 30px !important;
  }
  .p-r-40 {
    padding-right: 40px !important;
  }
  .p-r-50 {
    padding-right: 50px !important;
  }
  .p-r-60 {
    padding-right: 60px !important;
  }
  .p-r-70 {
    padding-right: 70px !important;
  }
  .p-b-0 {
    padding-bottom: 0px !important;
  }
  .p-b-3 {
    padding-bottom: 3px !important;
  }
  .p-b-5 {
    padding-bottom: 5px !important;
  }
  .p-b-6 {
    padding-bottom: 6px !important;
  }
  .p-b-10 {
    padding-bottom: 10px !important;
  }
  .p-b-15 {
    padding-bottom: 15px !important;
  }
  .p-b-20 {
    padding-bottom: 20px !important;
  }
  .p-b-30 {
    padding-bottom: 30px !important;
  }
  .p-b-40 {
    padding-bottom: 40px !important;
  }
  .p-b-50 {
    padding-bottom: 50px !important;
  }
  
  .bor-gray {
    border: 1px solid #e5e5e5;
  }
  .bor-gra {
    border: 1px solid #C0CCDA;
  }
  .bor-b-gray {
    border-bottom: 1px solid #e5e5e5;
  }
  .bor-b-green {
    border-bottom: 1px solid #009688;
  }
  .bor-b-ccc {
    border-bottom: 1px solid #ccc;
  }
  .bor-r-wh {
    border-right: 1px solid #fff;
  }
  .bor-none {
    border: none;
  }
  
  .bor-c-red {
    border-color: #FF0322 !important;
  }
  .bor-c-ccc {
    border-color: #ccc !important;
  }
  
  
  .bor-ra-3 {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px
  }
  .bor-ra-5 {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px
  }
  .bor-ra-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px
  }
  .circle {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%
  }
  
  
  .tx-c {
    text-align: center !important;
  }
  .tx-l {
    text-align: left !important;
  }
  .tx-r {
    text-align: right !important;
  }
  
  .bg-wh {
    background: #fff;
  }
  .bg-gray {
    background: #e5e5e5;
  }
  .bg-d7 {
    background: #d7d7d7;
  }
  .bg-gra {
    background: #F9F9F9;
  }
  .bg-transparency {
    background: rgba(0,0,0,0);
  }
  .bg-blue {
    background: #20a0ff !important;
  }
  .bg-main-blue {
    background: #44B5DF !important;
  }
  .bg-deep-blue {
    background: #2D4860 !important;
  }
  .bg-black {
    background: #3d3d3d !important;
  }
  .bg-green {
    background: #009688 !important;
  }
  .bg-red {
    background: #d34a4a !important;
  }
  .bg-orange {
    background: #FF5722 !important;
  }
  .bg-new-red {
    background: #FF0322 !important;
  }
  .bg-common {
    background: #f2f2f2 !important;
  }
  .bg-golden {
    background: #FCBB3C !important;
  }
  
  
  .c-e5 {
    color: #e5e5e5;
  }
  .c-d7 {
    color: #d7d7d7;
  }
  .c-666 {
    color: #666;
  }
  .c-6a {
    color: #6a6a6a;
  }
  .c-gray {
    color: #ccc;
  }
  .c-light-gray {
    color: #99a9bf;
  }
  .c-gra {
    color: #C0CCDA;
  }
  .c-deep-blue {
    color: #1F2D3D;
  }
  .c-blue {
    color: #44B5DF;
  }
  .c-deep-blue {
    color: #2D4860;
  }
  .c-black {
    color: #333;
  }
  .c-red {
    color: #db4a39;
  }
  .c-green {
    color: #009688;
  }
  .c-wh {
    color: #fff;
  }
  .c-orange {
    color: #FF5722;
  }
  .c-yellow {
    color: #FFCC00;
  }
  .c-golden {
    color: #FCBB3C;
  }
  
  .fz-12 {
    font-size: 12px
  }
  .fz-14 {
    font-size: 14px
  }
  .fz-16 {
    font-size: 16px
  }
  .fz-18 {
    font-size: 18px
  }
  .fz-20 {
    font-size: 20px
  }
  .fz-22 {
    font-size: 22px
  }
  .fz-24 {
    font-size: 24px
  }
  .fz-26 {
    font-size: 26px
  }
  .fz-30 {
    font-size: 30px
  }
  .fz-36 {
    font-size: 36px
  }
  .fz-60 {
    font-size: 60px
  }
  .fz-120 {
    font-size: 120px
  }
  
  .fw-bold {
    font-weight: bold
  }
  
  .pointer {
    cursor: pointer
  }
  
  
  .title-depart {
    position: absolute;
    top: 2px;
    left: 15px;
    background: #FF5722;
    width: 4px;
    height: 21px;
  }
  